.Main {
    height: 100vh;
}

.styled-table {
    margin-top: 30px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #6E77EE;
    color: #ffffff;
}

th {
    padding: 12px 20px;
}

td {
    padding: 12px 0px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Main-buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
}

.btnAceptar {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 15px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.btnAceptar:hover {
    background: #fff;
    color: #1AAB8A;
}

.btnAceptar:before,
.btnAceptar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.btnAceptar:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btnAceptar:hover:before,
.btnAceptar:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.btnNuevo {
    background: #12de0e;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 15px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    margin-top: 20px;
    margin-bottom: 10px;
}