.btnModal {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
}

.btnModal button {
  
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:15px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  
  .btnAceptar {
    background:#1AAB8A;
  }
  
  .btnCancelar {
    background: #ca1a29;
  }
  
  .btnAceptar:hover{
    background:#fff;
    color:#1AAB8A;
  }
  
  .btnCancelar:hover{
    background:#fff;
    color:#ca1a29;
  }
  
  .btnAceptar:before,.btnAceptar:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  
  .btnCancelar:before,.btnCancelar:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #ca1a29;
    transition:400ms ease all;
  }
  
  .btnAceptar:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .btnCancelar:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .btnAceptar:hover:before,.btnAceptar:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  .btnCancelar:hover:before,.btnCancelar:hover:after{
    width:100%;
    transition:800ms ease all;
  }