.Main-container {
    display: flex;
    width: 100vw;
    height: fit-content;
}

.Main-titulo {
    margin-bottom: 10px;
}

.Main-titulo h1 {
    font-size: 30px;
}

.Main-izquierda {
    width: 30%;
    background-color: #8186d7;
    border-radius: 5%;
}

.Main-derecha {
    display: flex;
    width: 70%;
    justify-content: center;
}

.atendiendo {
    margin-top: 50px;
}