.reportes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.Main {
    min-height: 100vh;
    height: fit-content;
}

.btnResetear {
    width: 150px;
    color:#fff;
    border:none;
    position:relative;
    font-size:15px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    background-color: #fccf07;
}

.btnObservacion {
    width: 150px;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:15px;
    padding:0 2em;
    margin-right: 10px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    background-color: #cadf0d;
}

.btnCalificacion {
    width: 150px;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:15px;
    padding:0 2em;
    margin-right: 10px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    background-color: #38ab1b;
}

.btnObservacion:hover{
    background:#fff;
    color:#cadf0d;
}

.btnCalificacion:hover{
    background:#fff;
    color:#38ab1b;
}

.btnObservacion:before,.btnObservacion:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #cadf0d;
    transition:400ms ease all;
}

.btnCalificacion:before,.btnCalificacion:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #38ab1b;
    transition:400ms ease all;
}

.btnObservacion:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.btnCalificacion:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

.btnObservacion:hover:before,.btnObservacion:hover:after{
    width:100%;
    transition:800ms ease all;
}

.btnCalificacion:hover:before,.btnCalificacion:hover:after{
    width:100%;
    transition:800ms ease all;
}
  
.reportes button {
    width: 100px;
}

.btnPDF {
    background-color: #6E77EE;
    color: #ffffff;
    border: 2px solid #fbfbfb;
    border-radius: 0px;
    padding: 10px 20px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #6E77EE;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btnExcel {
    background-color: #3aeb16;
    color: #ffffff;
    border: 2px solid #fbfbfb;
    border-radius: 0px;
    padding: 10px 20px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #6E77EE;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #1e3364;
}