.modalCal {
    display: block;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.Formulario {
  height: fit-content;
  margin-top: -20px;
}

.Form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.check {
  margin-bottom: 30px;
}

.round-checkbox input[type="radio"] {
  display: none;
}

.round-checkbox input[type="radio"] + label::before {
  content: ''; 
  outline: none;
  display: inline-block;
  width: 20px; 
  height: 20px; 
  border: 2px solid #00ddff; 
  border-radius: 50%; 
  margin-right: 5px; 
}


.round-checkbox input[type="radio"]:checked + label::before {
  background-color: #00ddff; 
}

.round-checkbox {
  display: inline-block;
  margin-right: 60px;
}



span {
  font-size: 20px;
  margin-left: 5px;
  position: fixed;
}

.Form2 {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Form3 {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Form4 {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Form5 {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Form5 button {
  margin-top: 90px;
  width: auto;
  margin-right: 10px;
}

.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.Main-body-cal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.Main-body-cal button {
    width: 200px;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:15px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  
  .btnBuena {
    background:#1AAB8A;
  }

  .btnRegular {
    background:#cadf0d;
  }
  
  .btnMala {
    background: #ca1a29;
  }
  
  .btnBuena:hover{
    background:#fff;
    color:#1AAB8A;
  }

  .btnRegular:hover{
    background:#fff;
    color:#cadf0d;
  }
  
  .btnMala:hover{
    background:#fff;
    color:#ca1a29;
  }
  
  .btnBuena:before,.btnBuena:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }

  .btnRegular:before,.btnRegular:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #cadf0d;
    transition:400ms ease all;
  }
  
  .btnMala:before,.btnMala:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #ca1a29;
    transition:400ms ease all;
  }
  
  .btnBuena:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .btnRegular:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .btnMala:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  
  .btnBuena:hover:before,.btnBuena:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .btnRegular:hover:before,.btnRegular:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  .btnMala:hover:before,.btnMala:hover:after{
    width:100%;
    transition:800ms ease all;
  }